name: Update README daily at 08:00

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '00 07 * * *'

jobs:
  update-readme:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Update README.md file
        run: node index.js
        env:
          CI: true
      - name: Check git diff
        run: |
          git diff
          git status
      - name: commit changes
        uses: EndBug/add-and-commit@v4
        with:
          author_name: Pierrelgx
          author_email: pl.informatique47@gmail.com
          add: 'README.md'
          force: false
          signoff: false
          message: ':memo: README.md updated !'
        env:
          # This is necessary in order to push a commit to the repo
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
